{% extends "books_master.html" %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    function getBooks()
    {
      $.get("/books/searchbooks?title=" + $("#title").val(), null, showBooks);
    }
    function showBooks(books) {
       st = ""
       for(i = 0; i < books.length; i ++)
       {
           b = books[i]
           st += "<li>" + b.title + "," + b.price + "</li>";
       }
       $("#books").html(st)
    }
</script>
<h2>Search Books</h2>

Title : <input type="text" id="title" value="{{title}}"/>
<button onclick="getBooks()">Search</button>

<ul id="books">


</ul>

{% endblock %}